.footer {
  margin-left: 13px;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: left;
  color: #d2dae2;
}

.shadowCard {
  box-shadow: 0 7px 14px 0 rgba(59, 65, 94, 0.1),
    0 3px 6px 0 rgba(0, 0, 0, 0.07);
  /* border-top-right-radius: 0.375rem; */
  border-bottom-right-radius: 0.375rem;
}
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 0px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}
.cardHeight{
  height: 36rem;

}
.subCardHeight{
  height: 30rem;

}

.tableContainer{
  height:24rem
}

.subTableContainer{
  height:25rem
}

@media screen and (min-height: 947px ) {
  .cardHeight{
    height: 52rem;

  }
  .subCardHeight{
    height: 44rem;

  }
  .tableContainer{
    height:42rem;
  }
  .subTableContainer{
    height:37rem
  }
}
.defaultFontSize{
  font-size: 15px;
}
.sidebar-sticky {
  background-color:rgb(9, 132, 227);
  position: relative;
  top: 0;
  height: calc(100vh - 0px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  text-align: left;
  font-size: 12px;

  box-shadow: 0 7px 14px 0 rgba(59, 65, 94, 0.1),
    0 3px 6px 0 rgba(0, 0, 0, 0.07);
  /* border-top-right-radius: 0.375rem; */
  border-bottom-right-radius: 0.375rem;
}

.force-overflow {
  padding: 0px;
  /* min-height: 600px; */
  min-height: auto;
}

.scrollbar {
  float: left;
  margin-top: 0px;
  overflow-y: scroll;
}


.customNav{
  margin-left: 180px;
}

@media screen and (max-width: 500px ) {
  .customNav {
    margin-left: 0px;
    background-color: black;
  }
  .customCard{
    margin-left: 30%;
  }
  .customAlert{
    margin-left: 1rem;
    width:22rem;
  }
}

